[Unit]
Description=Start wifi after resume
After=suspend.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/share/wicd/daemon/autoconnect.py
TimeoutSec=0
StandardOutput=syslog

[Install]
WantedBy=suspend.target
