[Desktop Entry]
Name=Task Manager
Comment=Manage running processes
GenericName=Process manager
Keywords=task;kill;suspend;processor;memory;monitoring;performance;
Exec=lxtask
Icon=utilities-system-monitor
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Monitor;
