
if loadfont /boot/grub/font.pf2 ; then
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Install- x1" {
	set gfxpayload=keep
	linux	/linux/boot/vmlinuz vga=769 initrd=/linux/boot/initrfs.img load_ramdisk=1 prompt_ramdisk=0 rw printk.time=0 apparmor=0
	initrd	/linux/boot/initrfs.img
}

menuentry "Command-line install" {
	set gfxpayload=keep
	linux	/linux tasks=standard pkgsel/language-pack-patterns= pkgsel/install-language-support=false --- quiet
	initrd	/initrd.gz
}

menuentry "Expert install" {
	set gfxpayload=keep
	linux	/linux priority=low ---
	initrd	/initrd.gz
}

menuentry "Command-line expert install" {
	set gfxpayload=keep
	linux	/linux tasks=standard pkgsel/language-pack-patterns= pkgsel/install-language-support=false priority=low ---
	initrd	/initrd.gz
}

menuentry "Rescue mode" {
	set gfxpayload=keep
	linux	/linux rescue/enable=true --- quiet
	initrd	/initrd.gz
}
