[Unit]
Description=Remove Slax mount targets
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=grep "Slax skip savechanges" /etc/systemd/system/multi-user.*/* /etc/systemd/system/* 2>/dev/null | cut -d : -f 1 | xargs -r rm -f

[Install]
WantedBy=halt.target reboot.target shutdown.target
