! this are Xresources to make xterm look good
! put into ~/.Xresources
! after changing contents, run xrdb -merge .Xresources
! gentoo has a bug so that it doesnt read it when X starts, so add above
! command to /etc/xfce4/xinitrc (top) and be happy.

XTerm*foreground: white
XTerm*background: rgb:22/22/22
XTerm*cursorColor: rgb:00/ff/00
XTerm*borderColor: black
XTerm*scrollColor: black
XTerm*visualBell: true
XTerm*saveLines: 50000
XTerm*allowSendEvents: True
XTerm*sessionMgt: false
XTerm*rightScrollBar: true
XTerm*eightBitInput:  false
XTerm*faceName:fixed:size=11
XTerm*boldFont:fixed:size=11
XTerm*activeIcon: true
XTerm*iconPixmap: /usr/share/icons/locolor/16x16/apps/xterm.xbm
XTerm*fullscreen: never

Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcdlegacy
Xft.rgba:       rgb
