[Desktop Entry]
Name=Text editor
Comment=Simple text editor
Exec=leafpad %f
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;
InitialPreference=6
